*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
body {
  line-height: 1.5;
  display: grid;
  grid-template: 1fr 9fr / 3fr 6fr 4fr;
  background-color: burlywood;
}
body div{
  height: 100vh;
}

.gameForm{
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
.gameForm button{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background-color: rebeccapurple;
  font-size: 1.1rem;
  padding: 4% 6%;
  border: solid 2px;
  border-radius: 11px;
  color: honeydew;
}
.gameForm button:hover{
  color: rebeccapurple;
  background-color: honeydew;
}
#reset{
  margin: 28% 12%;
}
#noGame{
  margin: 16%;
  display: inline-grid;
  justify-items: right;
}
dialog{
  margin: 6% 5%;
  border: 6px dashed navy;
  background-color: aliceblue;
  bottom: auto;
  right: auto;
  width: 20%;
  height: 50%;
}
form{
  height: 72%;
  display: grid;
  font-size: 1.1rem;
  grid-template: 2fr 2fr 2fr 2fr 1fr / 1fr 3fr;
  padding: 5%;
}
form button{
  grid-column: 1 / 3;
  margin: 10% 5%;
}


h1{
  grid-column: 2 / 4;
  color: ivory;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.3rem;
  padding-top: 18px;
}
h2{
  font-family: 'Courier New', Courier, monospace;
  color: brown;
}

.game{
  flex-flow: row nowrap;
  grid-row: 2;
  
}
.uiBoard{
  width: 100%;
  height: 80%;  
  background-color: lavenderblush;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.chatbox{
  display: flex;
  flex-flow: row nowrap;
  grid-row: 2;
}
dl{
  border: 6px dashed crimson;
  background-color: blanchedalmond;
  overflow: scroll;
  padding: 5%;
  width: 66%;
  height: 80%;
}
dt{
  font-weight: bolder;
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
}
dd{
  font-family: monospace;
  font-size: 1rem;
}
input {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 85%;
}
label{
  align-self: flex-end;
  font-family: monospace;
}


.switch {
  position: relative;
  display: inline-block;
  transform: rotate(90deg);
  margin: auto;
  grid-row: 1 / 5;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: firebrick;
}
input:focus + .slider {
  box-shadow: 0 0 1px firebrick;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.xo{
  transform: rotate(45deg);
}.xoxo{
  transform: translateX(26px)translateY(-42px)rotate(45deg);
}

.cells{
  background-color: lavender;
  border: groove snow;
  font-size: 4.8rem;
}
.cells:hover{
  background-color: darkorchid;
}
.x{
  background-color: rgb(196, 56, 56);
  border: double 7px mistyrose;
}
.o{
  background-color: rgb(26, 152, 174);
  border: double 7px mintcream;
}
.x:hover{background-color: firebrick;}
.o:hover{background-color: teal;}
.x::before {content: "⚓";}
.o::before {content: "🛟";}